<div id="navbar" class="navbar-collapse collapse">

    <ul class="nav navbar-nav navbar-left">
        <li class="home"><a asp-action="Index" asp-controller="Home">@SR["Home"]</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        @if (User.IsSignedIn())
        {
            <li class="logout"><a href="javascript:$('#frmLogout').submit()">@SR["Log out"]</a></li>
            <form id="frmLogout" asp-action="Logout" asp-controller="Account" method="post"></form>
        }
        else
        {
        <li class="login"><a asp-action="Login" asp-controller="Account">@SR["Log in"]</a></li>
        <li class="register"><a asp-action="Register" asp-controller="Account">@SR["Register"]</a></li>
        }
    </ul>
</div>
