body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}

.menu {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 50px;
    background-color: #1c92ec;
    color: #fff;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu-table {
    text-align: center;
    width: 100%;
}

.menu-table-left {
    padding-left: 15px;
    text-align: left;
    width: 50px;
}

.menu-table-right {
    padding-right: 15px;
    text-align: right;
    width: 50px;
}

.container {
    padding-top: 51px;
    padding-bottom: 51px;
    width: 100%;
    position: fixed;
    height: calc(100% - 51px - 51px);
    overflow-y: auto;
    top: 0;
    left: 0;
    z-index: 50;
}

.contact-item {
    padding: 15px;
    cursor: pointer;
}

.contact-avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-block;
    float: left;
}

.contact-body {
    width: calc(100% - 48px - 60px - 30px);
    height: 48px;
    padding: 0 15px;
    display: inline-block;
    float: left;
}

.contact-name, .contact-count {
    color: #888;
    font-size: 14px;
    line-height: 26px;
}

.contact-message, .contact-time {
    color: #aaa;
    font-size: 10px;
    line-height: 22px;
    overflow: hidden;
}

.contact-time, .contact-count {
    text-align: right;
}

.contact-side {
    width: 60px;
    height: 48px;
    display: inline-block;
    float: left;
}

.clear {
    clear: both;
}

.contact-count-balloon {
    background-color: #e64d50;
    border-radius: 48px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    padding: 0 5px;
    min-width: 10px;
    line-height: 20px;
}

.contact-item:hover {
    background-color: #ebebec;
}

.tab {
    height: 50px;
    position: fixed;
    z-index: 100;
    background: #fff;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.tab-table {
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    color: #888;
}

.tab-item {
    height: 48px;
    cursor: pointer;
}

    .tab-item.active {
        color: #0181ef;
    }

    .tab-item:hover {
        color: #ff952d;
    }

.tab-item-icon {
    font-size: 14px;
    line-height: 14px;
    margin-top: 8px;
}

.tab-item-text {
    font-size: 10px;
    line-height: 10px;
    margin-top: 4px;
}

.search {
    height: 20px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.search-icon {
    height: 20px;
    line-height: 20px;
    color: #888;
    width: 25px;
    display: inline-block;
    float: left;
    margin-top: 2px;
}

.search-box {
    outline: 0;
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #888;
    width: calc(100% - 25px);
    display: inline-block;
    float: left;
}

.contact-result {
    width: calc(100% - 48px - 15px);
    color: #888;
    float: left;
    padding-left: 15px;
}

.contact-user {
    line-height: 24px;
    font-size: 16px;
    height: 24px;
}

.contact-status {
    line-height: 24px;
    font-size: 12px;
    height: 24px;
}

.contact-online {
    color: #57e26d;
    font-size: 16px;
    line-height: 24px;
}

.contact-offline {
    color: #bbb;
    font-size: 16px;
    line-height: 24px;
}

.message {
    margin: 7.5px 15px;
    padding: 15px;
    background: #eeeeee;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.message-left {
    float: left;
}

.message-right {
    float: right;
    background-color: #3db74f;
    color: #fff;
}

.message-time {
    height: 18px;
    text-align: center;
    margin: 5px 0;
}

.message-time-item {
    display: inline-block;
    padding: 4px 8px;
    background: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    border-radius: 5px;
}

.message-box {
    font-size: 16px;
    color: #888;
    display: inline-block;
    width: calc(100% - 55px - 12px);
    outline: 0;
    border: none;
    line-height: 26px;
    height: 26px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    max-height: 104px;
    min-width: calc(100% - 55px - 12px);
    max-width: calc(100% - 55px - 12px);
}

.message-send {
    color: #3db74f;
    font-size: 14px;
    width: 50px;
    text-align: center;
    position: fixed;
    bottom: 18px;
    right: 0;
    cursor: pointer;
}