<html>
<head>
    <link href="~/styles/sign-in-style.css" rel="stylesheet" />
</head>
<body>
    @*<img src="~/images/logo.png" />*@
    <div class="sign-in-box">
        <div class="sign-in-float-box">
            <div class="sign-in-logo-outer">
                <img src="~/images/logo-bk.png" style="height: 100px;" />
            </div>
            <div class="sign-in-textbox-outer">
                <div class="sign-in-textbox-label">用户名</div>
                <input type="text" class="sign-in-textbox" />
            </div>
            <div class="sign-in-textbox-outer">
                <div class="sign-in-textbox-label">密码</div>
                <input type="password" class="sign-in-textbox" />
            </div>
            <div class="sign-in-textbox-outer">
                <label class="sign-in-textbox-label">
                    <input type="checkbox" class="sign-in-checkbox" />
                    <span>记住我</span>
                </label>
            </div>
            <div class="sign-in-textbox-outer">
                <input type="submit" value="登录" class="sign-in-button" />
            </div>
        </div>
        111
    </div>
    <div class="sign-in-copyright">Copyright © @DateTime.Now.Year 北京清北学堂教育科技有限公司</div>
</body>
</html>