@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/styles/chat.css" rel="stylesheet" />
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/vue.js"></script>
    <script src="~/scripts/vue-router.js"></script>
</head>
<body>
    <div class="menu">
        <table class="menu-table">
            <tr>
                <td class="menu-table-left"></td>
                <td>站内信</td>
                <td class="menu-table-right"></td>
            </tr>
        </table>
    </div>
    <div class="container" style="display: none">
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-body">
                <div class="contact-name">yiszhe</div>
                <div class="contact-message">Hello World</div>
            </div>
            <div class="contact-side">
                <div class="contact-time">2 hrs ago</div>
                <div class="contact-count"><div class="contact-count-balloon">1</div></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-body">
                <div class="contact-name">yiszhe</div>
                <div class="contact-message">Hello World</div>
            </div>
            <div class="contact-side">
                <div class="contact-time">2 hrs ago</div>
                <div class="contact-count"><div class="contact-count-balloon">1</div></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-body">
                <div class="contact-name">yiszhe</div>
                <div class="contact-message">Hello World</div>
            </div>
            <div class="contact-side">
                <div class="contact-time">2 hrs ago</div>
                <div class="contact-count"><div class="contact-count-balloon">1</div></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container" style="display: none">
        <div class="search">
            <i class="fa fa-search search-icon"></i>
            <input type="text" class="search-box" placeholder="搜索用户名..." />
        </div>
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-result">
                <div class="contact-user">yiszhe</div>
                <div class="contact-status"><span class="contact-online">●</span> 在线</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-result">
                <div class="contact-user">yiszhe</div>
                <div class="contact-status"><span class="contact-offline">●</span> 离线</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container">
        <div class="message-time"><div class="message-time-item">20:52</div></div>
        <div class="message message-left">blablablablablablablablablablablablablablabla</div>
        <div class="message message-right">blablablablablablablablablablablablablablabla</div>
    </div>
    <div class="tab">
        <textarea class="message-box" placeholder="输入欲发送的内容..."></textarea>
        <div class="message-send">发送</div>
    </div>
    <div class="tab" style="display: none">
        <table class="tab-table">
            <tr>
                <td>
                    <div class="tab-item active">
                        <i class="tab-item-icon fa fa-comment-o"></i>
                        <div class="tab-item-text">消息</div>
                    </div>
                </td>
                <td>
                    <div class="tab-item">
                        <i class="tab-item-icon fa fa-search"></i>
                        <div class="tab-item-text">找人</div>
                    </div>
                </td>
                <td>
                    <div class="tab-item">
                        <i class="tab-item-icon fa fa-volume-up"></i>
                        <div class="tab-item-text">系统消息</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script>
        function countLine() {
            var ret = 0;
            var str = $('.message-box').val();
            for (var i = 0; i < str.length; i++) { 
                if (str[i] == '\n')
                    ret++;
            }
            ret++;
            return ret > 4 ? 4 : ret;
        }

        $('.message-box').keyup(function () {
            var line = countLine();
            $('.message-box').height(26 * line);
            $('.message-box').parents('.tab').height(50 + (line - 1) * 26);
        });
    </script>
</body>
</html>