@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/styles/chat.css" rel="stylesheet" />
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
    <script src="~/scripts/vue.js"></script>
    <script src="~/scripts/vue-router.js"></script>
</head>
<body>
    <div class="menu">
        <table class="menu-table">
            <tr>
                <td class="menu-table-left"></td>
                <td>站内信</td>
                <td class="menu-table-right"></td>
            </tr>
        </table>
    </div>
    <div class="container">
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-body">
                <div class="contact-name">yiszhe</div>
                <div class="contact-message">Hello World</div>
            </div>
            <div class="contact-side">
                <div class="contact-time">2 hrs ago</div>
                <div class="contact-count"><div class="contact-count-balloon">1</div></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-body">
                <div class="contact-name">yiszhe</div>
                <div class="contact-message">Hello World</div>
            </div>
            <div class="contact-side">
                <div class="contact-time">2 hrs ago</div>
                <div class="contact-count"><div class="contact-count-balloon">1</div></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="contact-item">
            <img class="contact-avatar" src="~/images/non-avatar.png" />
            <div class="contact-body">
                <div class="contact-name">yiszhe</div>
                <div class="contact-message">Hello World</div>
            </div>
            <div class="contact-side">
                <div class="contact-time">2 hrs ago</div>
                <div class="contact-count"><div class="contact-count-balloon">1</div></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tab">
        <table class="tab-table">
            <tr>
                <td>
                    <div class="tab-item active">
                        <i class="tab-item-icon fa fa-comment-o"></i>
                        <div class="tab-item-text">消息</div>
                    </div>
                </td>
                <td>
                    <div class="tab-item">
                        <i class="tab-item-icon fa fa-user"></i>
                        <div class="tab-item-text">联系人</div>
                    </div>
                </td>
                <td>
                    <div class="tab-item">
                        <i class="tab-item-icon fa fa-volume-up"></i>
                        <div class="tab-item-text">系统消息</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>