@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="~/styles/chat.css" rel="stylesheet" />
    <script src="~/scripts/vue.js"></script>
    <script src="~/scripts/vue-router.js"></script>
</head>
<body>
    <div class="menu">
        <table class="menu-table">
            <tr>
                <td class="menu-table-left"></td>
                <td>站内信</td>
                <td class="menu-table-right"></td>
            </tr>
        </table>
    </div>
</body>
</html>